.time-from-now {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }

  &--overdue {
    color: var(--color-cherry-red);
  }
}
