@use '/src/styles/breakpoints';

.tabs-trigger {
  flex: 1 0 auto;
  padding: 10px 16px;
  white-space: nowrap;
  text-align: center;
  border-radius: 8px;
  position: relative;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;

  @include breakpoints.from-tablet {
    flex-basis: 100px;
    padding: 16px 24px;
  }

  &.body-text {
    font-size: 1rem;

    @include breakpoints.from-tablet {
      font-size: 1.25rem;
    }
  }

  &:focus-visible {
    outline-offset: -2px;
  }

  &:focus-visible,
  &:hover {
    opacity: 0.9;
  }

  &[aria-selected="true"] {
    background-color: var(--color-surface-base);
    opacity: 1;

    &::after {
      content: '';
      position: absolute;
      height: 4px;
      background-color: var(--color-text-light);
      inset: auto 0 0;
    }
  }
}
