$color-background: #010B13;
$color-surface-dark: #050f18;
$color-amber-gold: #C19552;
$color-lime-green: #B9FF66;
$color-cherry-red: #D20A2E;
$color-text-light: #FFFFFF;
$color-text-muted: #9ca3af;
$color-muted-gray: #1E2D3D;
$color-surface-base: #21384A;