@use "variables";
@use "typography";
@use "reset";
@use "utils";

body {
  background-color: var(--color-background) ;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
