@use "custom-properties";
@use "typography";
@use "reset";
@use "utils";

body {
  background-color: var(--color-background);
  font-family: var(--font-body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.page {
  margin-top: 40px;
}
