@use 'variables' as *;

:export {
  colorBackground: $color-background;
  colorAmberGold: $color-amber-gold;
  colorLimeGreen: $color-lime-green;
  colorCherryRed: $color-cherry-red;
  colorTextLight: $color-text-light;
  colorTextMuted: $color-text-muted;
  colorMutedGray: $color-muted-gray;
  colorSurfaceBase: $color-surface-base;
}
