@use '/src/styles/breakpoints';

.images-section {
  width: 100%;
  position: relative;
  aspect-ratio: 2/3;

  @include breakpoints.from-tablet-landscape {
    position: sticky;
    top: 0;
    max-height: initial;
  }
}