@use '/src/styles/breakpoints';

.images-section {
  width: 100%;
  position: sticky;
  top: 0;
  aspect-ratio: 2/3;

  @include breakpoints.from-tablet-landscape {
    aspect-ratio: 2/3;
    max-height: initial;
  }
}