.back-button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 16px 8px;
  text-decoration: none;
  transition: .3s ease-in-out;

  &:hover {
    color: var(--color-amber-gold)
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
