.cta {
  text-decoration: none;
  background-color: var(--color-amber-gold);
  padding: 12px 16px;
  border-radius: 3.35544e+07px;
  color: var(--color-background);
  transition: background-color .3s ease-in-out;
  text-align: center;

  &:hover,
  &:focus {
    background-color: var(--color-accent-hover);
    outline: 1px solid var(--color-accent-primary);
  }
}