@use '/src/styles/breakpoints';

.event-drink {
  border: 1px solid var(--color-accent-primary);
  background-color: var(--color-surface-base);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;

  @include breakpoints.from-tablet-landscape {
    flex-direction: row;
  }

  .event-drink__image {
    @include breakpoints.tablet-only {
      max-height: 400px;
      object-fit: contain;
    }
  }

  .event-drink__section {
    flex-basis: 100%;
  }
}