@use '/src/styles/breakpoints';

.event-drink {
  border: 1px solid var(--color-light-border);
  background-color: var(--color-surface-base);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  transition: border-color .2s ease-in-out;

  &:hover {
    border: 1px solid var(--color-accent-primary);
  }

  @include breakpoints.from-tablet-landscape {
    flex-direction: row;
  }

  .event-drink__image-wrapper {
    overflow: hidden;
  }

  .event-drink__image {
    margin-bottom: 16px;
    transition: transform .3s;

    @include breakpoints.tablet-only {
      max-height: 400px;
      object-fit: contain;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .event-drink__section {
    flex-basis: 100%;
  }

  .event-drink__link {
    text-decoration: none;
  }
}