@use '/src/styles/breakpoints';

.pdp {
  margin-block: 40px;
}

.pdp-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include breakpoints.from-tablet-landscape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image ingredients"
      "image controls"
      "image recipe";
    column-gap: 40px;
    row-gap: 2rem;
    align-items: start;

    .images-section { grid-area: image; }
    .ingredients-section { grid-area: ingredients; }
    .pdp-quick-order-controls { grid-area: controls; }
    .recipe-section { grid-area: recipe; }
  }
}
