@use '/src/styles/breakpoints';

.pdp-content {
  flex-direction: column;
  display: flex;
  gap: 40px;

  @include breakpoints.from-tablet-landscape {
    flex-direction: row;
  }
}

.pdp-content__column {
  flex-basis: 100%;
}
